@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
}
